@use "../variables/variables" as *;
.header{
    position: fixed;
    .content{
        width: 90px;
        padding: 10px;
        height: 60px;
        background-image: url('../../img/logo1.svg');
        background-position: center;
        background-size: cover;
    }
    .logout{
        // margin-left: 13pc;
        // margin-top: -69px;
        position: absolute;
        top: 10px;
        right: -200px;
        button{
            padding: 8px 30px;
            border-radius: 12px;
            border-color: $input_border_color;
            border-style: solid;
            color: $text_headers_color;
            border-width: 0.1px;
            background-color: transparent;
            &:hover{
                color: rgb(255, 255, 255);    
                background-color: $text_headers_color;
                border-color: $text_headers_color;
            }
        }
        
    }
    .profile{
        text-decoration: none;
        padding: 7px 30px;
        border-radius: 12px;
        border-color: $text_headers_color;
        border-style: solid;
        color: #f1eee9;
        border-width: 0.1px;
        background-color: $text_headers_color;
        position: absolute;
        top: 50px;
        right: -200px;
        &:hover{
            color: $text_headers_color;    
            background-color: transparent;
            border-color: $input_border_color;
            border-width: 0.1px;

        }
    }
}

@media only screen and (min-width: 370px){
    .header{
        .logout{
            top: 10px;
            right: -230px;
        }
        .profile{
            top: 50px;
            right: -230px;
        }
    }
}

@media only screen and (min-width: 480px){
    .header{
        .logout{
            top: 10px;
            right: -335px;
        }
        .profile{
            top: 50px;
            right: -335px;
        }
    }
}

@media only screen and (min-width: 600px){
    .header{
        .logout{
            top: 10px;
            right: -462px;
        }
        .profile{
            top: 10px;
            right: -350px;
        }
    }
}

@media only screen and (min-width: 768px){
    .header{
        .logout{
            top: 10px;
            right: -613px;
        }
        .profile{
            top: 10px;
            right: -500px;
        }
    }
}

@media only screen and (min-width: 800px){
    .header{
        .logout{
            top: 10px;
            right: -630px;
        }
        .profile{
            top: 10px;
            right: -520px;
        }
    }
}

@media only screen and (min-width: 1024px){
    .header{
        .logout{
            top: 10px;
            right: -860px;
        }
        .profile{
            top: 10px;
            right: -740px;
        }
    }
}
@media only screen and (min-width: 1370px){
    .header{
        .logout{
            top: 10px;
            right: -760px;
        }
        .profile{
            top: 10px;
            right: -740px;
        }
    }
}
@media only screen and (min-width: 1360px){
    .header{
        .logout{
            top: 10px;
            right: -1215px;
        }
        .profile{
            top: 10px;
            right: -1100px;
        }
    }
}
@media only screen and (min-width: 1500px){
    .header{
        .logout{
            top: 10px;
            right: -1380px;
        }
        .profile{
            top: 10px;
            right: -1260px;
        }
    }
}